.title {
    background: black;
    color: white;
    margin: 0;
}

.well {
    padding: 0;
    margin: 0;
}

.para {
    padding: 10px;
}

.transbox {
    background-color: rgba(49, 54, 58, 0.5);
    color: white;
    border-radius: 6px;
    padding-top: 5px;
}

.mariobg {
    background-image: url("../img/mario-bg.jpg");
    background-size: auto 100%;
    background-position: center;
}